@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
    This is a sample application that shows how Disqus could be used as a commenting system using 2 approaches - default behavior
    and using ajax.
</p>
